/* Spin Earth animation*/

@keyframes spinEarth {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 60vmin;
    }
}

@-webkit-keyframes spinEarth {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 60vmin;
    }
}

@-o-keyframes spinEarth {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 60vmin;
    }
}

@-moz-keyframes spinEarth {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 60vmin;
    }
}

/* Rotate Earth animation */

@keyframes rotateEarth {
    0%, 20% {
        left: -400px;
    }
    100% {
        left: 120%;
    }
}

@-webkit-keyframes rotateEarth {
    0%, 20% {
        left: -400px;
    }
    100% {
        left: 120%;
    }
}

@-moz-keyframes rotateEarth {
    0%, 20% {
        left: -400px;
    }
    100% {
        left: 120%;
    }
}

@-o-keyframes rotateEarth {
    0%, 20% {
        left: -400px;
    }
    100% {
        left: 120%;
    }
}

/* Flying saucer go down animation */

@keyframes goDown {
    0%, 100% {
        top: -205px
    }
    25%, 75% {
        top: 33%;
    }
}

@-moz-keyframes goDown {
    0%, 100% {
        top: -205px
    }
    25%, 75% {
        top: 33%;
    }
}

@-webkit-keyframes goDown {
    0%, 100% {
        top: -205px
    }
    25%, 75% {
        top: 33%;
    }
}

@-o-keyframes goDown {
    0%, 100% {
        top: -205px
    }
    25%, 75% {
        top: 33%;
    }
}

/* Flying saucer rotate animation */

@-moz-keyframes rotating {
    0%, 50%, 100% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -ms-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -o-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    75% {
        -ms-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
}

@-o-keyframes rotating {
    0%, 50%, 100% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -ms-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -o-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    75% {
        -ms-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
}

@-webkit-keyframes rotating {
    0%, 50%, 100% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -ms-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -o-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    75% {
        -ms-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
}

@keyframes rotating {
    0%, 50%, 100% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -ms-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -o-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    75% {
        -ms-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
}