html {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
}

.star {
    background: white;
    position: absolute;
    border-radius: 100%;
}

.white {
    box-shadow: 0 0 15px 1px #fff;
    -webkit-box-shadow: 0 0 15px 1px #fff;
    -moz-box-shadow: 0 0 15px 1px #fff;
}

.blue {
    box-shadow: 0 0 15px 2px #4444ff;
    -webkit-box-shadow: 0 0 15px 2px #4444ff;
    -moz-box-shadow: 0 0 15px 2px #4444ff;
}

.red {
    box-shadow: 0 0 15px 2px #ff4444;
    -webkit-box-shadow: 0 0 15px 2px #ff4444;
    -moz-box-shadow: 0 0 15px 2px #ff4444;
}

.yellow {
    box-shadow: 0 0 15px 1px #d1ff06;
    -webkit-box-shadow: 0 0 15px 1px #d1ff06;
    -moz-box-shadow: 0 0 15px 1px #d1ff06;
}

.comet {
    position: absolute;
    border-bottom: 3px solid transparent;
    border-right: 150px solid #55e63b;
    border-top: 3px solid transparent;
    top: -6px;
    width: 10px;
    filter: blur(1px);
    -ms-filter: blur(1px);
    -webkit-filter: blur(1px);
}

svg {
    position: absolute;
    top: -205px;
    left: 35%;
    display: none;
}

.ship {
    animation: rotating 1.5s linear infinite;
}

.sun {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    opacity: 1;
    background-color: rgb(212, 255, 20);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 40px 25px rgb(212, 255, 20);
    z-index: 9999;
}

.message {
    top: 270px;
    left: 53%;
    position: absolute;
    background: #f5f5f5;
    color: black;
    border-radius: 10px;
}

.message p {
    padding: 15px;
    margin: 0;
}

.message::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 15px;
    border-width: 11px 11px 0;
    border-style: solid;
    border-color: #f5f5f5 transparent;
}

.earth {
    background-image: url("https://res.cloudinary.com/dshmwg7vw/image/upload/v1551102200/earthnight2.jpg");
    background-size: cover;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: -400px;
    width: 30vmin;
    height: 30vmin;
    margin: auto;
    border-radius: 50%;
    box-shadow: inset -35px 10px 96px -12px rgba(206, 206, 206, 0.52), inset 12px -1px 78px 9px rgb(0, 0, 0);
    animation: spinEarth 20s linear infinite, rotateEarth 40s linear;
    transform: rotate(-5deg);
    z-index: 99999;
}

@keyframes spinEarth {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 60vmin;
    }
}

@keyframes rotateEarth {
    0%, 20% {
        left: -400px;
    }
    100% {
        left: 120%;
    }
}

@keyframes down {
    0%, 100% {
        top: -205px
    }
    25%, 75% {
        top: 33%;
    }
}

@keyframes rotating {
    0%, 50%, 100% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -ms-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -o-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    75% {
        -ms-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
}